<b>Project Data Customer</b><br>
Buatlah contoh data customner sebanyak 1000 yang akan digunakan untuk prediksi:<br>
<ol>
    <li>Usia : 18 - 60</li>
    <li>Gender : L/P -> L(1),P(0)</li>
    <li>Transaksi/Bulan : 0-50</li>
    <li>Kategori Pembayaran : Buruk,sedang,Bagus</li>
</ol>

In [15]:
import numpy as np
import pandas as pd

n_data = 500

usia = np.random.randint(18,61,size=n_data)
gender = np.random.randint(0,2,size=n_data)
transaksi = np.random.randint(0,51,size=n_data)
kategori = np.random.choice(['Buruk','sedang','Bagus'])

df = pd.DataFrame({
    'Usia' : usia,
    'Gender' : gender,
    'Transaksi/Bulan' : transaksi,
    'Kategori Bayar' : kategori,
})

print(df)
print(df.info())
print(df.head()) #mengetahui isi 5 baris pertama dari data
print(f"Usia Customer yang termuda:{df['Usia'].min()}")
jmlL = df[df['Gender']==1]
print(jmlL.size/4)
print(jmlL['Gender'].size)
df.to_csv('dataCustomer.csv')

     Usia  Gender  Transaksi/Bulan Kategori Bayar
0      40       0               35         sedang
1      59       1               18         sedang
2      50       1               28         sedang
3      51       0                3         sedang
4      31       0               14         sedang
..    ...     ...              ...            ...
495    48       1               42         sedang
496    45       1               42         sedang
497    19       1               11         sedang
498    22       1               39         sedang
499    43       0               33         sedang

[500 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Usia             500 non-null    int32
 1   Gender           500 non-null    int32
 2   Transaksi/Bulan  500 non-null    int32
 3   Kategori Bayar   500 non-null    object
dtypes: int32(3), object(1)
memory usage: 9.9+ KB
None
   Usia  Gender  Transaksi/Bulan Kategori Bayar
0    40       0               35         sedang
1    59       1               18         sedang
2    50       1               28         sedang
3    51       0                3         sedang
4    31       0               14         sedang
Usia Customer yang termuda:18
256.0
256